<% @cities.each do |city| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= city.name %></h1>
    <i><%= city.address %></i><br /><br />
    <p><%= city.description %></p><br />
  </div>
<% end %>